<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>

<body>

<div class="container align=center">
    <div class="jumbotron">
        <h2>Online Job portal</h2>
        <p>click  here to get jobs update  information</p>
        <a class="btn btn-primary btn-lg m-1" href="/hydjob" role="button">Hyderabad Jobs Update</a>
        <a class="btn btn-primary btn-lg m-1" href="/delhijobs" role="button">Delhi Jobs Update</a>
        <a class="btn btn-primary btn-lg m-1" href="/punejobs" role="button">Pune Jobs Update</a>
        <a class="btn btn-primary btn-lg m-1" href="/noidajobs" role="button">Noida Jobs Update</a>
         <a class="btn btn-primary btn-lg m-1" href="/form" role="button">Login Here</a>
    </div>

</div>

</body>
</html>